<div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 project-item isotope-item">
  <div class="card">

    <a href="{{ .Permalink }}" title="" class="card-image hover-overlay">

    {{ if .Params.image_preview }}

      <img src="{{ "/img/" | relURL }}{{ .Params.image_preview }}" alt="" class="img-responsive">


    {{ else if .Params.header.image }}

      <img src="{{ "/img/" | relURL }}{{ .Params.header.image }}" alt="" class="img-responsive">

    {{ end }}

    </a>

    <div class="card-text">
      <h4>
        <a href="{{ .Permalink }}" {{ "" | safeHTMLAttr }}>{{ .Title }}</a>
      </h4>
      <div class="card-desription">
        <p>
        {{ if .Params.event }}
        {{ .Params.event }}
        {{ else if .Params.abstract_short }}
        {{ .Params.abstract_short }}
        {{ else }}
        {{ .Params.abstract }}
        {{ end }}
        </p>
      </div>
    </div>
  </div>
</div>
